*{
    font-family: "Montserrat", "Open Sans", "Times New Roman";
}
.navbar{
    background-color: #e59469 !important;
    color: black;
}
.navbar a{
    color: black;
}
.navbar-toggler-icon img{
    height: 30px;
    width: 30px;
    background-color: #e59469;
}
.home-background{
    background-image: url(../images/door-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.home-page{
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    width: 250px;
    margin-left: 1200px;
      
}
.header{
    text-align: center;
    margin-top: 40px;
}
.about-me{
    border: none;
    display: inline;
    text-align: center;
}
.about-me img{
    height: 500px;
    width: auto;
    margin-left: 655px;
}
.work-card{
    margin-top: 20px;
}
.work-card img{
    height: 350px;
}
.contact-stuff{
    display: inline;
    text-align: center;
    margin-top: 60px;
}
.btn-primary{
    background-color: #e59469;
    border: none;
}
.btn-primary :hover{
    background-color: white;
    color: #e59469;
    border-color: #e59469;
}
@media only screen and (max-width: 768px){
    .home-background{
        background-image: url(../images/door-3.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .home-page{
        background: rgba(0, 0, 0, 0.4);
        color: white;
        width: auto;
        margin-left: 0px;
    }
    .about-me img{
        height: 500px;
        width: auto;
        margin-left: 45px;
    }
}


